  <md-toolbar id="main-toolbar" class="mat-elevation-z22">
    <span>HS</span>
    <span class="fill-space"></span>

     <div>
      <button md-raised-button >About</button>
      <button md-raised-button>Portafolio</button>
      <button md-raised-button >Contacto</button>

    </div>
    <span>USER</span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
    <md-menu #menu="mdMenu" id="menu-toolbar">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Dashboard</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Iniciar Sesion</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Notificacion
        </span>
      </button>
    </md-menu>
  </md-toolbar>

  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">HighSystem</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Acerca <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar...">
      <button md-icon-button class="bg-success btn btn-outline-success my-2 my-sm-0" type="submit">
          <md-icon>search</md-icon>
      </button>
    </form>
    <button md-icon-button [mdMenuTriggerFor]="menu" class="text-white">
    <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu" >
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Dashboard</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Iniciar Sesion</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Notificacion
        </span>
      </button>
    </md-menu>
  </div> -->

<!--
  <md-toolbar id="main-toolbar" class="mat-elevation-z22">
    <span>HS</span>
    <span class="fill-space"></span>

     <div>
      <button md-raised-button (click)="menu()">About</button>
      <button md-raised-button (click)="menu()">Portafolio</button>
      <button md-raised-button (click)="menu()">Contacto</button>

    </div>
    <span>USER</span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Dashboard</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Iniciar Sesion</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Notificacion
        </span>
      </button>
    </md-menu>
  </md-toolbar> -->
