  <md-toolbar id="main-toolbar" class="mat-elevation-z22">
    <span>HS</span>
    <span class="fill-space"></span>

     <div>
      <a href="#hs-about" md-raised-button >About</a>
      <button md-raised-button>Portafolio</button>
      <button md-raised-button >Contacto</button>

    </div>
    <span>USER</span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
    <md-menu #menu="mdMenu" id="menu-toolbar">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Dashboard</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Iniciar Sesion</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Notificacion
        </span>
      </button>
    </md-menu>
  </md-toolbar>