
   <div   class="container" style="text-align:center" id="hs-about">
    <h1 >¿Quiénes somos?</h1>
        <md-card class="bg-danger">
            <md-card-title><b>High System</b></md-card-title>
            <div class="row">
                 <div class="col col-md-7">
                        <md-card class="bg-img-card-about mat-elevation-z5" >
                             
                        </md-card>
                 </div>
                <div class="col col-md-5">
                    <div class="row">
                        <md-card class="bg-faded mat-elevation-z10 text-justify">
                            <p>High System de colombia, es una empresa de desarrollo y arquitectura de Software en general. La cual maneja tecnologias de ultima generacion.
                            
                                Se desarrolla aplicaciones en diferentes plataformas y sistemas operativos (Android, IOS, Hibridas). Se Trabaja de la mano con software libre y de pago.</p>
                        </md-card>    
                    </div>
                    <br>
                    <div class="row">
                        <md-card class="bg-faded mat-elevation-z10 text-justify">
                            <p>Adicionalmente,si en su empresa requiere implementar un proceso de evolucion de su software, 
                                tambien HS ofrece la posibilidad de obtener soporte para llevar acabo sus nuevos cambios.</p>
                    </md-card>
                    </div>
                    
                </div>
            </div>
            <md-card-actions>
                <button md-button  >Ver Mas</button>
            </md-card-actions>
        </md-card>
</div>
